# Ejemplo de variables de entorno
# Copia este archivo como .env y coloca ahí tus valores reales.
# Las variables de entorno que uses en el front de React y Webpack podrían necesitar el prefijo REACT_APP_ (si usas Create React App) o configurarse manualmente.

API_URL=https://ejemplo.com/api
