body {
  background-color: #e4e0e0;
}

/* Layout (Contenedor principal)*/
.layout {
  display: flex;
  flex-direction: column; /* Para poner uno arriba del otro */
  align-items: center;    /* Centra horizontalmente */
  justify-content: center;
  gap: 1rem;              /* Espacio entre el título y el buscador */
}

/* Bloque de producto */
.product-card {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Elementos */
.product-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card__content {
  padding: 16px;
}

.product-card__price {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}